$largeurparent: 100%;
$hauteurparent: 60px;

$largeurimage: 15%;
$hauteurimage: 100%;

$timecox: 10s;
$timecombi: 15s;
$timeporche: 20s;

$tailleanimation: 600%;

$lienimagecox: "../../images/coxretour.jpg";
$lienimagecombi: "../../images/coxretour.jpg";
$lienimageporche: "../../images/coxretour.jpg";


@import "mixin.scss";

.parent {
  width: $largeurparent;
  height: $hauteurparent;
  position: relative;
  border: 5px solid red;

  .cox-animation {
    height: $hauteurimage;
    width : $largeurimage;
    position: absolute;
    background-repeat: no-repeat;
    animation: cox $timecox linear, coximage $timecox step-end,coxcabrer $timecox ease 1s;
    -webkit-animation: cox $timecox linear, coximage $timecox step-end,coxcabrer $timecox ease 1s;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg");
  }
  .combi-animation {
    height: $hauteurimage;
    width : $largeurimage;
    position: absolute;
    background-repeat: no-repeat;
    animation: combi $timecombi linear, combiimage $timecombi step-end;
    -webkit-animation: combi $timecombi linear, combiimage $timecombi step-end;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg");
  }
  .porche-animation {
    height: $hauteurimage;
    width : $largeurimage;
    position: absolute;
    background-repeat: no-repeat;
    animation: porche $timeporche linear, porcheimage $timeporche step-end;
    -webkit-animation: porche $timeporche linear, porcheimage $timeporche step-end;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg");
  }
}
// "##################### cox animation #####################"
@-webkit-keyframes cox {
@include trajet($tailleanimation);
}
@-webkit-keyframes coximage {
@include image($lienimagecox);
}
@-webkit-keyframes coxcabrer {
@include cabrer(10deg);
}
@keyframes cox {
@include trajet($tailleanimation);
}
@keyframes coximage {
@include image($lienimagecox);
}
@keyframes coxcabrer {
@include cabrer(10deg);
}
// "##################### Combi animation #####################"
@-webkit-keyframes combi {
@include trajet($tailleanimation);
}
@-webkit-keyframes combiimage {
@include image($lienimagecombi);
}
@keyframes combi {
@include trajet($tailleanimation);
}
@keyframes combiimage {
@include image($lienimagecombi);
}
// "##################### Porche animation #####################"
@-webkit-keyframes porche {
@include trajet($tailleanimation);
}
@-webkit-keyframes porcheimage {
@include image($lienimageporche);
}
@keyframes porche {
@include trajet($tailleanimation);
}
@keyframes porcheimage {
@include image($lienimageporche);
}
