.parent {
  width: 100%;
  height: 60px;
  position: relative;
  border: 5px solid red; }

.cox-animation {
  height: 100%;
  width: 15%;
  position: absolute;
  background-repeat: no-repeat;
  animation: cox 10s linear, coximage 10s step-end;
  -webkit-animation: cox 10s linear, coximage 10s step-end;
  animation-iteration-count: infinite;
  background-image: url("../images/coxaller.jpg"); }

@-webkit-keyframes cox {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@-webkit-keyframes coximage {
  50% {
    background-image: url("../images/coxretour.jpg"); } }

@keyframes cox {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@keyframes coximage {
  50% {
    background-image: url("../images/coxretour.jpg"); } }
