.parent {
  width: 100%;
  height: 60px;
  position: relative;
  border: 5px solid red; }
  .parent .cox-animation {
    height: 100%;
    width: 15%;
    position: absolute;
    background-repeat: no-repeat;
    animation: cox 10s linear, coximage 10s step-end, coxcabrer 10s ease 1s;
    -webkit-animation: cox 10s linear, coximage 10s step-end, coxcabrer 10s ease 1s;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg"); }
  .parent .combi-animation {
    height: 100%;
    width: 15%;
    position: absolute;
    background-repeat: no-repeat;
    animation: combi 15s linear, combiimage 15s step-end;
    -webkit-animation: combi 15s linear, combiimage 15s step-end;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg"); }
  .parent .porche-animation {
    height: 100%;
    width: 15%;
    position: absolute;
    background-repeat: no-repeat;
    animation: porche 20s linear, porcheimage 20s step-end;
    -webkit-animation: porche 20s linear, porcheimage 20s step-end;
    animation-iteration-count: infinite;
    background-image: url("../../images/coxaller.jpg"); }

@-webkit-keyframes cox {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@-webkit-keyframes coximage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }

@-webkit-keyframes coxcabrer {
  60% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(0deg); } }

@keyframes cox {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@keyframes coximage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }

@keyframes coxcabrer {
  60% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(0deg); } }

@-webkit-keyframes combi {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@-webkit-keyframes combiimage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }

@keyframes combi {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@keyframes combiimage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }

@-webkit-keyframes porche {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@-webkit-keyframes porcheimage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }

@keyframes porche {
  from {
    transform: translate(0%); }
  50% {
    transform: translate(600%); }
  to {
    transform: translate(0%); } }

@keyframes porcheimage {
  50% {
    background-image: url("../../images/coxretour.jpg"); } }
